body {
    background-color: ivory;
    font-family: 'BioRhyme';
  }
  
  h1 {
    color: darkgreen;
    text-align: center;
    font-family: 'Amatic SC';font-size: 48px;
  }
  
  p {
      font-family: 'Abel', sans-serif;font-size: 22px;
  }
  
  h2 {
      color: dodgerblue;
      text-align: left;
      font-family: 'Sofia';font-size: 22px;
      }
  a {
      font-family: 'Bebas Neue', cursive;
      font-size: 36px;
  }