body {
    background-color: ivory;
    font-family: 'BioRhyme';
  }
  
  h1 {
    color: darkgreen;
    text-align: center;
    font-family: 'Amatic SC';font-size: 48px;
  }
  
  p {
      font-family: 'Abel', sans-serif;font-size: 22px;
  }
  
  h2 {
      
      color: dodgerblue;
      text-align: left;
      font-family: 'Sofia';font-size: 22px;
      }


  a {
      font-family: 'Bebas Neue', cursive;
      font-size: 36px;
  }

 .hobbies {
      border-style: dashed;
      border-width: 4px;
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;
  }